#cart{
    padding:4px;margin: 8px;position:fixed;
    right:0px;
    top:0px;
    width: 190px;
    display: inline-block;
    border: 1px solid #ddd; background-color: #eee;
    -moz-border-radius: 4px; -webkit-border-radius: 4px;                
}
/*.shopping-cart {
    display: inline-block;
    background: url("../images/shoping_cart1.png") no-repeat 0 0;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
}*/

.shopping-cart {
    display: inline-block;
    background: url("../images/shoping_cart1.png") no-repeat 0 0;
    width: 240px;
    height: 24px;
    margin: 0 10px 0 0;
}